<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-2.5.xsd"
       default-lazy-init="true">

    <context:annotation-config/>
    <context:component-scan base-package="org.demo"/>

    <bean id="userService" class="org.demo.service.UserService"/>

    <!-- 配置Interceptor -->
    <bean class="org.demo.interceptor.GlobalInterceptor"/>
    <bean class="org.demo.interceptor.LoginInterceptor"/>

    <!-- 配置 quartz job bean -->
    <bean id="quartzJobDemo" class="org.demo.quartz.QuartzJob"/>

    <!-- 配置 quartz MethodInvokingBean, 即定时任务的执行方法 -->
    <bean id="quartzJobInvoke" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="quartzJobDemo"/>
        <property name="targetMethod" value="doSomeQuartzWork"/>
    </bean>

    <!-- 配置 quartz job的触发器, 即执行周期,
    参考: http://www.quartz-scheduler.org/documentation/quartz-1.x/tutorials/TutorialLesson06-->
    <bean id="quartzJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="quartzJobInvoke"/>
        <property name="cronExpression" value="0 0/1 * * * ?"/> <!--每5分钟执行一次-->
    </bean>

    <!-- scheduler factory -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false">
        <property name="triggers">
            <list>
                <ref local="quartzJobTrigger" />
            </list>
        </property>
    </bean>

    <bean id="jade.dataSource.org.demo.dao"
          class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://127.0.0.1:3306/gossip-test?useUnicode=false&amp;character_set_client=utf8mb4"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

</beans>